//
//  {{name}}Presenter.swift
//  {{project_name}}
//
//  Created by {{full_username}} on {{date}}.
//
//

import Foundation

protocol {{name}}Presenter {
    func start()
}
{{#generate_delegate}}

protocol {{name}}PresenterDelegate: AnyObject {

}
{{/generate_delegate}}
