//
//  {{name}}ViewModelMapper.swift
//  {{project_name}}
//
//  Created by {{full_username}} on {{date}}.
//
//

import Foundation

struct {{name}}ViewModelMapper {

    func map() -> {{name}}ViewModel {
        {{name}}ViewModel()
    }
}
