//
//  {{name}}ViewContract.swift
//  {{project_name}}
//
//  Created by {{full_username}} on {{date}}.
//
//

import Foundation

@MainActor
protocol {{name}}ViewContract: AnyObject {
    func configure(with viewModel: {{name}}ViewModel)
}
