{{#generate_delegate}}
container.register({{name}}Presenter.self) { _, viewContract, delegate in
    {{name}}PresenterImplementation(
        viewContract: viewContract,
        delegate: delegate
    )
}
{{/generate_delegate}}
{{^generate_delegate}}
container.register({{name}}Presenter.self) { _, viewContract in
    {{name}}PresenterImplementation(
        viewContract: viewContract
    )
}
{{/generate_delegate}}
