//
//  {{name}}InteractorImplementation.swift
//  {{project_name}}
//
//  Created by {{full_username}} on {{date}}.
//
//

import Foundation

public class {{name}}InteractorImplementation: {{name}}Interactor {

	public init() {

	}

    // MARK: - {{name}}Interactor

    public func execute() {

    }
}
