//
//  {{name}}Coordinator.swift
//  {{project_name}}
//
//  Created by {{full_username}} on {{date}}.
//
//

import Foundation

{{#generate_delegate}}
protocol {{name}}CoordinatorDelegate : class {

}

{{/generate_delegate}}
class {{name}}Coordinator: Coordinator {

    {{#generate_delegate}}
    weak var delegate: {{name}}CoordinatorDelegate?
    {{/generate_delegate}}
    private let navigationController: UINavigationController

    init(navigationController: UINavigationController) {
        self.navigationController = navigationController
    }

    // MARK: - Public

    func start() {

    }
}
