//
//  {{name}}InteractorImplementation.swift
//  {{project_name}}
//
//  Created by {{full_username}} on {{date}}.
//
//

import Foundation

class {{name}}InteractorImplementation : {{name}}Interactor {

    //MARK: - {{name}}Interactor

    func execute() {

    }
}
