//
//  {{name}}RepositoryImplementation.swift
//  {{project_name}}
//
//  Created by {{full_username}} on {{date}}.
//
//
//

import Foundation
import Core

public class {{name}}RepositoryImplementation: {{name}}Repository {

    public init() {

    }

    // MARK: - {{name}}Repository

}
